@import "tailwindcss";

.inner-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 50px 0px ;

}

.grid {
    width: 1250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
}

.column {
    background: #fafafa;
    padding: 15px;
    border-radius: 10px;
    min-height: 400px;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #f1f1f1;
}
.accepted-column{
    background: rgb(216, 255, 216);
}
.ongoing-column{
    background: rgb(255, 222, 160);
}
.completed-column{
    background: rgb(159, 255, 159);
}

.card {
    background: white;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

button {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}